* {
  margin: 0;
  padding: 0;
}

.comment-section{
  width: 100%;
  background: #FCF7FF;
  padding-top: 30px;
  padding-bottom: 60px;
}

.comment-section:hover{
  background: #f1f3ff;
}

.container {
  background: #FCF7FF;
  padding: 20px;
  font-family: 'Space Grotesk';
  width: 75%;
  box-shadow: 0 0 2px #4e4e4e;
  margin: auto;
}

.head {

  margin-bottom: 20px;
  text-align: center;
  font-family: 'Space Grotesk';
  
}

.head h1{
  font-family: 'Space Grotesk';
}

.text {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 0.9em;
  font-family: 'Space Grotesk';
  padding-right: 20px;
}

.text p{
  font-family: 'Space Grotesk';
  margin-bottom: 20px;
}

.commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.comments{
  font-family: 'Space Grotesk';
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.commentbox > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* float: left; */
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.content {
  width: 100%;
}

.content h2{
  font-family: 'Space Grotesk';
}

.user {
  border: none;
  outline: none;
  margin: 5px 0;
  color: #808080;
  margin-left: 20px;
  padding: 10px;
}

.commentinput > textarea {
  border: none;
  padding: 10px;
  padding-left: 0;
  outline: none;
  border-bottom: 2px solid blue;
  margin-bottom: 10px;
  overflow: hidden;
  width: 95%;
  resize: none; /* Prevents manual resizing */
  height: 60px; /* Adjust height as needed */
  font-family: 'Space Grotesk';
  font-size: 0.9em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
  font-family: 'Space Grotesk';
}

.buttons > button {
  padding: 5px 10px;
  background: lightgrey;
  color: #808080;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.buttons > button.abled {
  background: blue;
  color: #fff;
}

.policy {
  margin: 20px 0;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  color: #808080;
}

.policy a {
  text-decoration: none;
  color: blue;
}

.notify {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.notify > input {
  margin-right: 5px;
  border: 2px solid #808080;
}

.parents {
  font-family: Arial, sans-serif;
  display: flex;
  margin-bottom: 30px;
}

.parents h1 {
  font-size: 0.9em;
}

.parents p {
  margin: 10px 0;
  font-size: 0.9em;
}

.parents > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.engagements {
  display: none;
  align-items: center;
  margin-bottom: 10px;
  
}

.engagements img {
  width: 20px;

}

.engagements img:nth-child(1) {
  margin-right: 10px;
  width: 25px;
}

.date {
  color: #808080;
  font-size: 0.8em;
}    


@media (max-width: 535px) {
  .container{
    width: 300px;
  }
}