/* Common styles */
body, html {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.left-box {
  width: 150px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-box img {
  max-height: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.section {
  height: 100%;
}

.yellow {
  background-color: #3f5d4f;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCF7FF;
}

.yellow a {
  font-weight: 700;
  font-size: 20px;
  color: #FCF7FF;
  text-decoration: none;
}

.orange {
  background-color: #FCF7FF;
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust to space between elements */
}

.sub-sections {
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: space-around; /* Evenly space out the sub-sections */
}

.sub-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #FCF7FF;
  background: #3f5d4f;
  flex: 1; /* Evenly distribute space among the sub-sections */
  text-decoration: none; /* Ensure no underline on links */
}

.sub-section:hover {
  opacity: 0.7;
}

.sub-section a {
  color: #FCF7FF;
  text-decoration: none;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 20px;
}

/* Media query for mobile */
@media (max-width: 1050px) {

  .header {
      flex-direction: row; /* Keep header horizontal */
      align-items: center;
      justify-content: space-between;
      position: relative; /* Make the header the containing block for absolute positioning */
      margin-top: -80px;
  }

  .left-box {
      height: 100%;
      display: none;
  }

  .hamburger-menu {
      display: block;
      position: absolute; /* Position the hamburger menu */
      right: 10%;
      z-index: 1001; /* Ensure it stays on top of other elements */
      transform: translateX(50%); /* Adjust to truly center the element */
  }

  .yellow {
      position: absolute; /* Position the yellow section absolutely */
      left: 0; /* Stick it to the left */
      width: 80%; /* Stretch it to 80% of the header width */
      height: 100%; /* Ensure it takes the full height of the header */
      display: flex;
      align-items: center; /* Center items vertically */
      justify-content: flex-start;
      padding-left: 20px;
      z-index: 1000; /* Ensure it stays below the hamburger menu */
  }

  .orange {
      flex: 1; /* Keep the orange section as flex: 1 */
      display: flex;
      align-items: center;
      justify-content: center; /* Center items horizontally */
      padding-right: 50px; /* Add some padding to prevent overlap with the hamburger menu */
  }

  .sub-sections {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px; /* Position the dropdown below the header */
      left: 0;
      background: #3f5d4f;
      z-index: 999;
  }

  .sub-section {
      width: 100%;
      text-align: center;
  }

  .sub-section:hover {
      opacity: 1;
      background: #9886ff;
  }

  .sub-section a {
      display: block;
      padding: 15px 0;
  }

  .header.active .sub-sections {
      display: flex;
  }
}
