body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: white;
}


.services-title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #FCF7FF;
  background-color: rgb(201, 201, 255);
  font-family: 'Space Grotesk';
}

.services-title h1{
  font-family: 'Space Grotesk';
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 5%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-family: 'Space Grotesk';
  background-color: white;
/* Add margin-bottom to avoid gap under footer */
}

.service {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FCF7FF;
  background: #1f3695;
}

.service:hover{
  background-color: #2823ff;
}



.service-icon {
  width: 30%; /* Adjust width to match the height */
  padding-top: 30%; /* Create a square container with height 30% */
  border-radius: 50%;
  background-color: #FCF7FF;
  position: relative;
  margin-bottom: 20px;
}

.service-icon img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  margin-bottom: 50px;
  background-color: white;
}

.contact-button-img {
  width: 10%; /* Adjust size as needed */
  height: auto;
}

.contact-button {
  background-color: #1f3695;
  color: #FCF7FF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.15s, background-color 0.15s, color 0.15s;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.contact-button:hover {
  opacity: 0.7;
}

.contact-button:active {
  background-color: #FCF7FF;
  color: #1f3695;
}

@media (max-width: 768px) {
  .services-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}